{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href = "{% static 'main/css/main.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">


    <title>Document</title>
</head>
<body style="margin: 0">
    <div class='main-container'>
        <div style="width:1100px, margin:auto">
            <form method="POST">
                {% csrf_token %}
                {% if questions %}
                    {% for question in questions%}
                    <div class='question'>
                            <div class='question-title'>
                                <h3>{{question.text}}</h3>
                            </div>
                            <div class='answers'>
                                {% for i in question.Question.all %}
                                    {% if i.text %}
                                    <div class="radio">
                                        <input id={{i.id}} type="radio" name={{question.number}} value={{i.number}}>
                                        <label for={{i.id}}>{{i.text}}</label> <br>
                                    </div>
                                    {% endif%}
                                {% endfor %}
                            </div>
                    </div>
                    {% endfor %}
                {%else%}
                    <p>В базе данных нет вопросов</p>
                {% endif %}

                <div class='container-button'>
                    <button class='button-send' type="submit">
                        <input class='input-send' type="submit" value="Отправить">
                    </button>
                </div>
                
            </form>
        </div>
    </div>
</body>
</html>