body{
    background-color:#EAEAEA ;
}

.main-container{
    margin:0;
}

.question{
    margin: auto;
    width: 1100px;
    min-height: 100px;
    max-height: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;   
    display: block;
    margin-bottom: 20px;
    background-color: #FFFFFF;;
}
h3{
    margin-block-start: 0;
    margin-block-end: 0;
}

.question-title{
    padding-top:10px;
    margin-top: 20px;
    width: 1000px;
    margin-left:auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #1C1C27;
}

.answers{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    margin-right: 13px;
    font-weight: 400;
    font-size: 16.2934px;
    line-height: 20px;
    width:1000px;
    margin-left:auto;
    margin-right: auto;
    padding-bottom: 20px;
    padding-top:20px;
}

.input-send{
    border: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background-color: #101010;
    cursor: pointer;
    margin: auto;
}

.button-send{
    width: 200px;
    background-color: rgb(255, 145, 0);
    margin:auto;
    cursor: pointer;
    height: 65px;
    background: #101010;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.container-button{
    margin: auto;
    width: 200px;
    margin-bottom: 20px;
}

.answers label{
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 25px;
        margin-right: 15px;
        font-size: 17px;
}

.answers input[type=radio] {
    display: none;
}

.answers label:before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 10px;
        position: absolute;
        left: 0;
        bottom: 1px;
        background-color: #EAEAEA ;
        box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
    
.radio label:before {
        border-radius: 8px;
    }
        
input[type=radio]:checked + label:before {
    content: "\2022";
    color: #1C1C27;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}


.title-index{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    min-height: 70px;
    max-height: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;   
    margin-bottom: 20px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.text-index{
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 20px;
    line-height: 21px;
    color: #1C1C27;
}

.index-container{
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    min-height: 500px;
    max-height: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;   
    display: block;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

.descriptions{
    display: flex;
}

.index-description{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ffffff;
}
.index-description-text{
    float: left;
    width: 200px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    line-height: 21px;
    color: #1C1C27;
    text-align: center;
}

.index-description-img{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.index-img{
    margin: auto;
}

.button-start-index{
    width: 200px;
    background-color: rgb(255, 145, 0);
    margin:auto;
    cursor: pointer;
    height: 65px;
    background: #101010;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: 45px;
    display: flex;
    align-items: center;
}

.index-a, .index-a:hover, .index-a:active{
    text-decoration: none;
}

.button-start-text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
    margin:auto;
}

.result-container{
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    min-height: 500px;
    max-height: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;   
    display: block;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

.personality-result{
    margin:auto;
    width: 1000px;
    display: flex;
    margin-top: 50px;
}

.personality-foto{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
}

.personality-img{
    margin: auto;
}

.personality{
    margin-left: 40px;
    width: 750px;
}

.personality-type{
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 18px;
    line-height: 21px;
    color: #1C1C27;
    text-align: center;
}

.personality-description{
    width: 650px;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #1C1C27;
    min-height: 230px;
}

.button-results{
    width: 200px;
    background-color: rgb(255, 145, 0);
    margin:auto;
    cursor: pointer;
    height: 65px;
    background: #101010;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: 45px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.results-a, .results-a:hover, .results-a:active{
    text-decoration: none;
}

.button-results-text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
    margin:auto;
}